<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalCoche">
    Crear Mi Coche
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalCoche" tabindex="-1" role="dialog" aria-labelledby="modalReceta">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Nuevo Coche</h4>
        </div>
        <div class="modal-body">
            <p>Form values: {{ formulario.value | json}}</p>
            <p>Form status: {{ formulario.status | json }}</p>
          <hr>
          <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)" novalidate class="form-inline">

            <div class="col-xs-6">
              <label class="center-block">Marca:
                  <input class="form-control" formControlName="marca">
              </label>                           
              <div class="text-danger" *ngIf="formulario.controls.marca.invalid && formulario.controls.marca.touched">
                   *La Marca no es correcta, mínimo 4 letras
              </div>

              <label class="center-block">Modelo:
                  <input class="form-control" formControlName="modelo">
              </label>                           
              <div class="text-danger" *ngIf="formulario.controls.modelo.invalid && formulario.controls.modelo.touched">
                   *Modelo no es correct0, mínimo 2 letras
              </div>

              <label class="center-block">Version:
                  <input class="form-control" formControlName="version">
              </label> 

              <label class="center-block">Puertas:
                  <input class="form-control" formControlName="puertas">
              </label> 

              <label class="center-block">Caballos:
                  <input class="form-control" formControlName="caballos">
              </label> 

              <label class="center-block">Consumo:
                  <input class="form-control" formControlName="consumo">
              </label> 

            </div>
            <div class="col-xs-6">
              <img [src]="formulario.controls.foto.value" alt="coche nuevo" class="img-responsive"/>
              <label class="center-block">Foto:
                  <input class="form-control" formControlName="foto">
              </label>               
            </div> 

              <hr>
              <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary btn-block">Guardar</button>          

          </form>

        </div>       
      </div>
    </div>
  </div>