<p>Ejemplo de un Componente Padre <b>ConcesionarioComponent</b> e Hijo <b>CocheComponent</b>. Aprender a pasar parametros de una a otro @input @output</p>


<nav aria-label="Catalogo de Coches">
    <ul class="pagination">
        <li *ngFor="let coche of stock" [class.active]="coche == coche1">
            <a>{{coche.marca}} {{coche.modelo}}</a>
        </li>    
    </ul>
</nav>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Catalogo Coches</h3>
    </div>
    <div class="panel-body">
        <div *ngFor="let cocheIteracion of stock">
            <!-- llamda componente Hijo -->
            <app-coche [cocheParametro]="cocheIteracion"
                       (cocheSeleccionado)="recibirCoche($event)">
            </app-coche>
        </div>
    </div>
</div>


