<section id="propiedades">
  <h2>Propiedades</h2>
  <p>Componente para jugar con las <b>[propiedades]</b> en Angular, pagina 38 del manual</p>

  <h3>Propiedad [style]</h3>
  <p [style.color]="color">  [style.color]="color" Cambiamos el color del parrago mediante un atributo.</p>
  <p [style.backgroundColor]="'pink'">[style.backgroundColor]="'pink'" cambiamos el color de fondo mediante un literal</p>

  <h3>Propiedad [hidden]</h3>
  <p [hidden]="!ocultar">VISIBLE - Podemos usar el operador de negacion <b>!</b></p>
  <p [hidden]="ocultar">OCULTADO - No se muestra mediante CSS <code>display:none</code> </p>

  <h3>Propiedad [href]</h3>
  <a [href]="enlace" target="_blank">API angular</a>

</section>
