<!-- Button trigger modal -->
<button type="button" class="btn btn-link" data-toggle="modal" data-target="#modalReceta">
    Cocinar Nueva Receta
</button>
      
<!-- Modal -->
<div class="modal fade" id="modalReceta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" id="btn-close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Nueva Receta</h4>
        </div>
        <div class="modal-body">
            <p>Valores: {{ formulario.value | json }}</p>
            <p>Estado:  {{ formulario.status | json }}</p> 
            <hr>
            <form [formGroup]="formulario" (ngSubmit)="sumitar($event)" novalidate >
                 
                <div [ngClass]="estilosInput(formulario.controls.nombre)" >
                    <label for="nombre" class="control-label">*Nombre:</label>
                    <input id="nombre" formControlName="nombre" class="form-control" placeholder="Nombre">
                    <p *ngIf="formulario.controls.nombre.invalid && formulario.controls.nombre.touched" class="text-danger">*Obligatorio, mínimo 2 letras</p>
                </div>
                
                <div [ngClass]="estilosInput(formulario.controls.cocinero)">
                    <label for="cocinero" class="control-label">Cocinero:</label>
                    <input id="cocinero" formControlName="cocinero" placeholder="Cocinero" class="form-control">                
                    <p *ngIf="formulario.controls.cocinero.invalid && formulario.controls.cocinero.touched" class="text-danger">*Mínimo 5 letras</p>
                </div> 
                
                <div class="form-group">
                    <label for="gluten">Gluten:</label>
                    <input type="radio" formControlName="gluten" value="true">Si
                    <input type="radio" formControlName="gluten" value="false">No                    
                </div> 

                <div [ngClass]="estilosInput(formulario.controls.imagen)">                    
                    <label for="imagen" class="control-label">Foto:</label>
                    <input id="imagen" formControlName="imagen" placeholder="url de la foto" class="form-control">
                    <p *ngIf="formulario.controls.imagen.invalid && formulario.controls.imagen.touched" class="text-danger">*Obligatorio, dinos la url de la imagen</p>
                    <img [src]="formulario.controls.imagen.value" alt="Imagen de la receta" class="img-responsive" >
                </div> 

                <label for="">Ingredientes </label>
                <span (click)="clickOtroIngrediente()">Añadir Ingrediente</span>                
                <div formArrayName="ingredientes">                                      
                    <div *ngFor="let ingrediente of formulario.get('ingredientes').controls; let i = index;">                                       
                        <div [formGroupName]="i">
                            <input formControlName="nombre" placeholder="Nuevo Ingrediente" class="ingrediente-input">                        
                            <span class="glyphicon glyphicon-remove-circle" (click)="clickEliminarIngrediente(i)"></span>
                        </div>                   
                    </div>
                    <p class="text-danger" *ngIf="formulario.controls.ingredientes.invalid && formulario.controls.ingredientes.dirty">*Escribe el nombre del ingrediente</p>                                        
                </div>
             
                <div [ngClass]="estilosInput(formulario.controls.descripcion)">
                    <label for="descripcion" class="control-label">Descripción:</label>
                     <textarea formControlName="descripcion" maxlength="500" class="form-control"></textarea>
                    <p *ngIf="formulario.controls.descripcion.invalid && formulario.controls.descripcion.touched" class="text-danger">*Obligatorio, mínimo 100 letras</p>
                </div> 

                <input type="submit" [disabled]="!formulario.valid" class="btn btn-success btn-block" value="Crear">
            </form>


        </div>   
    </div>
</div>
</div>